/* Center the Form */
.gtv_cash-advance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box; 
}

/* Form Styles */
.gtv_cash-advance-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for emphasis */
}

/* Header Alignment */
.gtv_cash-advance-header {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.accountName{
    background-color: #ffff;
}

.gtv_activity{
    background-color: #ffff;
    height: 400px;
}

textarea {
    resize: none;
    height: 80px;
}

/* Button Styles */
.gtv_button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%px;
}