.gtv_title {
    margin-left: 10px;
}

.gtv_navlinks .gtv_link {
    color: black;
    text-decoration: underline;
}

.gtv_dashboard-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;  
  /* max-width: 1200px;    */
  border-radius: 8px;
  background-color: white;
  border: 1px solid #f6f6f6;
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.1);
  padding: 20px;               
}

.gtv_full-container {
    margin: 0 auto;
    max-width: 1000px;
}

/* body .gtv_dashboard-container {
    margin: 0 auto;
}*/

/* Updated table styles */
.gtv_table {
    border-collapse: collapse;
}

h1 {
    font-size: 1.5rem; /* Adjusted to match your example */
    font-weight: 600;
    color: #263145;
    margin: 0;
    text-align: center;
  }

.gtv_th,
.gtv_td {
    padding: 12px 16px; /* Added more padding for better readability */
    text-align: left;
    font-size: 14px;
    width: 100%;
}

.gtv_th {
    background-color: #f9fafb; /* Darker background for headers */
    color: #515563;
    font-weight: 600;
}

.gtv_td {
    background-color: #ffffff;
    height: 48px; 
}

.gtv_dashBoardInput {
    margin-top: 5px;
    /* font-size: medium; */
    font-family: inherit;
    padding: 8px;
    border-radius: 5px;
    width: 100px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.gtv_dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    border-radius: 8px;
}

.gtv_dashboard-left,
.gtv_dashboard-right {
    width: 50%;
    padding: 20px;
}

.gtv_dashboard-buttons {
    margin: 20px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

.gtv_btnDB {
    border-radius: 8px;
    border: none;
    margin: 3px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: white;
    cursor: pointer;
    background-color: #263146;
    transition: background-color 0.25s;  
}
.gtv_btn {
    padding: 10px 20px;
    color: white;
    border: none;
    width: 200px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
}

.gtv_btn.cancel {
    color: black;
    background-color: #E3E3E3;
}

.gtv_btn.reject {
    background-color: #fee2e2;
    color: #ab3437;
    transition: color 0.3s, background-color 0.3s;
}

.gtv_btn.reject:hover {
    color: #fee2e2;
    background-color: #ab3437;
}

.gtv_btn.approve {
    background-color: #d1fae5;
    color: #065f46;
    transition: color 0.3s, background-color 0.3s;
}

.gtv_btn.approve:hover {
    color: #d1fae5;
    background-color: #065f46;
}

.gtv_btnEdit,
.gtv_btnSet {
    font-size: 14px;
    color: #545454;
    background-color: #e0e0e0;
    transition: color 0.3s, background-color 0.3s;
    height: 2.5rem;
}

.gtv_btnEdit:hover,
.gtv_btnSet:hover {
    color: white;
    background-color: #2c3e50;
}

.gtv_popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gtv_popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gtv_popup-content h2 {
    margin-bottom: 10px;
}

.gtv_popup-content p {
    margin-bottom: 20px;
}

.gtv_dashboard1-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.gtv_dashBoard1Input {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
}

.gtv_dashboard1-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.gtv_dashboard-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gtv_button-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.gtv_legend {
    display: flex;
    justify-content: left;
}

.gtv_legend-item {
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-right: 15px;
}

.gtv_legend-item.gtv_open {
    background-color: #fff5cb;
    color: #e6a029;
}

.gtv_legend-item.gtv_closed-approved {
    background-color: #d1fae5;
    color: #065f46;
}

.gtv_legend-item.gtv_closed-declined {
    background-color: #fee2e2;
    color: #ab3437;
}

.gtv_legend-item.gtv_pending-gm {
    color: #4b4b4b;
    background-color: #f5f5f5;
}

.gtv_status {
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px;
}

.gtv_status.closed-approved {
    background-color: #d1fae5;
    color: #065f46;
}

.gtv_status.closed-declined {
    background-color: #fee2e2;
    color: #ab3437;
}

.gtv_status.pending-gm {
    background-color: #f3f3f3;
    color: #4b4b4b;
}

.gtv_status.open {
    background-color: #fff5cb;
    color: #e6a029;
}

.gtv_dashBoardInput {
    font-family: inherit;
    padding: 8px;
    border-radius: 5px;
    width: 300px;
    border: 1px solid #ddd;
}

.gtv_dashboard-group input[readonly] {
    background-color: #e0e0e0;
}

.gtv_dashboard-group {
    /* justify-items: center; */
    display: flex;
    /* flex-direction: row; */
    /* align-items: left; */
}

.gtv_dashboard-group label {
    margin-right: 10px;
    color: #6b7280;
    font-weight: 500;
    font-size: 14px;    
}

.gtv_dashboard-group input {
    width: 50%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.gtv_dashboard-container {
    display: flex;
    margin: 0px;
    border-radius: 8px;
}

.gtv_dashboard-left, .gtv_dashboard-right {
    flex: 1;
}

.gtv_dashboard-fields {
    display: flex;
    flex-direction: column;
}

.gtv_dashboard-left label,
.gtv_dashboard-right label {
    width: 30%;
    margin-top: 10px;
    text-align: right;
}