.title {
    margin-left: 10px;
    font-size: 18px;
}

.navlinks .link {
    color: black;
    text-decoration: underline;
}

h2 {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.legend-item {
    padding: 15px 10px;
    border-radius: 3px;
    font-size: 14px;
    color: white;
}

.legend-item.open {
    background-color: #f1c40f;
}

.legend-item.closed-approved {
    background-color: #27ae60;
}

.legend-item.closed-declined {
    background-color: #c0392b;
}

.section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.section h3 {
    margin-top: 0;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: white;
}

td {
    background-color: #f5f5f5;
    height: 40px;
}

.dashBoardInput {
    margin-top: 5px;
    font-size: medium;
    font-family: inherit;
    padding: 8px;
    border-radius: 5px;
    width: 300px;
    border: 1px solid #ddd;
}

.dashboard-group {
    display: flex;
    flex-direction: row; /* Align label and input horizontally */
    align-items: left; /* Vertically center */
    margin-bottom: 10px;
  }
  
.dashboard-group label {
    margin-right: 10px; /* Space between label and input */
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
  
.dashboard-group input {
    width: 50%; /* Reduce input width */
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}
  
  /* LIQUIDATION REPORT CONTAINERS (LEFT & RIGHT) */
.dashboard-container {
  display: flex;
  margin: 0px 40px;
  border-radius: 8px;
}

.dashboard-left, .dashboard-right {
  flex: 1;
}

/* Left Fields */
.dashboard-fields {
  display: flex;
  flex-direction: column;
}

.dashboard-group {
  margin-bottom: 20px;
}

.dashboard-left label,
.dashboard-right label {
    width: 30%;
    margin-top: 10px;
    text-align: right;
} 

.dashboard-buttons {
    margin: 20px;
    display: flex;
    justify-content: right;
    gap: 10px; /* Space between buttons */
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    width: 200px;
    border-radius: 100px;
    cursor: pointer;
}

.btn.reject {
    background-color: #840303;
}

.btn.approve {
    background-color: #6AAD36;
}

.btn.cancel {
    color: black;
    background-color: #E3E3E3;
}
