:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: black;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LIQUIDATION REPORT CONTAINERS (LEFT & RIGHT) */
.form-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  border-radius: 8px;
  gap: 20px; /* Adds space between the left and right columns */
}

.form-left, .form-right {
  flex: 1;
}

/* Left Fields */
.left-fields {
  display: flex;
  flex-direction: column;
}

.field-group {
  margin-bottom: 20px;
}

.left-fields label,
.form-right label {
  margin-top: 10px;
}

h1 {
  text-align: center;
}

/* Button Styling */
button {
  border-radius: 30px;
  border: none;
  margin: 3px;
  padding: 7px 25px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #263146;
  transition: background-color 0.25s;
}

button.btnSave {
  background-color: #263146;
  width: 33%;
}

button.btnUpdate {
  background-color: #505050;
  width: 33%;
}

button.btnCancel {
  color: black;
  background-color: #E3E3E3;
  width: 33%;
}

button:hover {
  color: black;
  background-color: #E3E3E3;
}

/* Label Styling */
label {
  letter-spacing: -0.5px;
  font-size: large;
  text-align: right;
}

/* Dropzone Styling */
.dropzone {
  border: 1px dashed #ccc;
  background-color: #e3e3e3;
  padding: 10px;
  margin: 10px 0;
  height: 275px;
  text-align: center;
}

/* Button Container */
.buttons {
  display: flex;
  gap: 10px;
}

/* Input Fields Styling */
.cashAdvInput {
  margin-top: 5px;
  font-size: medium;
  font-family: inherit;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  width: 40px;
  border: 1px solid #e0e0e0;
}

/* Flexbox for Label and Input Alignment */
.form-group {
  display: flex;
  flex-direction: row; /* Align label and input horizontally */
  align-items: center; /* Vertically center */
  margin-bottom: 10px;
}

.form-group label {
  width: 100%; /* Label width */
  margin-right: 10px; /* Space between label and input */
}

.form-group input {
  width: 70%; /* Reduce input width */
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
