:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: black;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Centering the entire form container */
body {
  margin: 0;
}

.gtv_form-container {
  display: flex;
  padding: 40px;
  border-radius: 8px;
  margin: auto;
  width: 70%;
  gap: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for emphasis */
}

/* Left and Right Columns */
.gtv_form-left {
  flex: 1;
}

.gtv_form-right {
  padding-top: 30px;
  flex: 1;
}

/* Left Fields */
.gtv_form-fields {
  display: flex;
  flex-direction: column;
}

.gtv_form-group {
  margin-bottom: 20px;
}

.gtv_form-left label,
.gtv_form-right label {
  margin-top: 10px;
}

h1 {
  text-align: center;
}

/* Button Styling */
button {
  border-radius: 30px;
  border: none;
  margin: 3px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #263146;
  transition: background-color 0.25s;
}

button.gtv_btnSave {
  background-color: #263146;
  width: 150px;
}

button.gtv_btnSubmit {
  background-color: #263146;
  width: 200px;
}

button.gtv_btnUpdate {
  background-color: #505050;
  width: 150px;
}

button.gtv_btnCancel {
  color: black;
  background-color: #E3E3E3;
  width: 150px;
}

/* Label Styling */
label {
  font-size: large;
  text-align: right;
}

/* Dropzone Styling */
.gtvdropzone {
  border: 1px dashed #ccc;
  background-color: #e3e3e3;
  padding: 10px;
  margin: 14px 0;
  height: 275px;
  margin: 10px 0;
  height: 280px;
  text-align: center;
}

/* Button Container */
.gtv_buttons {
  display: flex;
  margin-top: 35px;
  gap: 10px;
}

/* Input Fields Styling */
.gtv_cashAdvInput {
  margin-top: 5px;
  font-size: medium;
  font-family: inherit;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  width: 140px;
  border: 1px solid #e0e0e0;
}

.gtv_cashAdvInput.field-disabled {
  background-color: black;
}

.gtv_form-group input[readonly] {
  background-color: #e0e0e0;
}

/* Flexbox for Label Input Alignment */
.gtv_rejectForm-group {
  display: flex;
  flex-direction: row; /* Align label and input horizontally */
  align-items: center; /* Vertically center */
  margin-bottom: 10px;
}

.gtv_rejectForm-group label {
  width: 100%; /* Label width */
  margin-right: 10px; /* Space between label and input */
}

.gtv_rejectForm-group input {
  width: 50%; /* Reduce input width */
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.gtv_popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gtv_popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gtv_popup-content h2 {
  margin-bottom: 10px;
}

.gtv_popup-content p {
  margin-bottom: 20px;
}
