/* Custom popup styling */
.modal {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center; /* Ensure text is centered in the modal */
  }
  
  .content {
    text-align: left; /* Align form labels and inputs to the left */
  }

  input.cashAdvInput {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Overlay and modal content styles */
  .reactjs-popup-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Darker overlay */
  }
  
  .reactjs-popup-content {
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    max-width: 500px;  /* Ensuring the modal does not stretch too wide */
    margin: 20px auto;
  }